.sectionForm {
  background-color: rgba(175, 174, 174, 0.116);
  border: solid rgba(139, 139, 139, 0.438) 1px;
  border-radius: 10px;
  display: flex;
  height: 20vh;
  margin: 0 auto 5vh;
  padding: 3vh;
  width: 60vw;
}

.divForm {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

button {
  margin-top: 3.3%;
  height: 40%;
}